html, body,{
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	height: 100%;
	position: static !important;
}

@font-face {
	font-family: earthquakefont;
	src: url(earthquake.ttf);
}

.navbar-inverse {
	z-index: 1;
	margin-bottom: 0;
}

.navbar-brand {
	font-size: 3.5vmin;
	font-family: earthquakefont;
}

body{
	background-color: lavender;
}

.glyphicon {
	font-size: 2vmin;
}

.marker {
	top: 7px;
}

/*panel toggle*/

.twitterPanel {
	position: absolute;
	width: 500px;
	background-color: #dddddd;
	height: 100vh;
	transform: translateX(-500px);
	transition: all .2s;
	z-index: 1;
}

.twitterPanel.on {
	transform: translateX(0);
}

.rightPanel {
	top: 54px;
	right: 0;
	position: absolute;
	width: 500px;
	background-color: #dddddd;
	height: 100vh;
	transform: translateX(500px);
	transition: all .3s;
	z-index: 2;
}

.rightPanel.on {
	transform: translateX(0);
}
