html, body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#map {
	height: 100%;
	width: 100%;
}
@font-face {
	font-family: earthquakefont;
	src: url(earthquake.ttf);
}
.navbar-inverse {
	z-index: 1;
	margin-bottom: 0;
}
.navbar-brand {
	font-size: 27px;
	font-family: earthquakefont;
}
.navSlogen {
	font-size: 10px;
	font-family: Open Sans, serif;
	padding-left: 3%;
}
.navbar {
	width: 100%;
}
.input-group{
	width: 92%;
}
.glyphicon {
	font-size: 15px;
}
.daySelector {
	font-size: 100%;
}
.dropdown-menu>li>a {
	color: #9d9d9d;
}
.dropdown-menu {
	max-width: 70px;
}

#twitterIcon {
	font-size: 16px;
}
#dropdownList {
	width: 100%
}
.dropdown-menu {
	background-color: black;
	opacity: 0.8;
}
.marker {
	top: 7px;
}
.testPanel {
	-webkit-position: absolute;
	-moz-position: absolute;
	-ms-position: absolute;
	-o-position: absolute;
	position: absolute;
	width: 40vh;
	background-color: #dddddd;
	transform: translateX(0px);
	transition: all .2s;
	z-index: 1;
	top: 21%;
	opacity: .9;
}
.testPanel.on {
	transform: translateX(-50vh);
}
.rightPanel {
	right: 0;
	-webkit-position: absolute;
	-moz-position: absolute;
	-ms-position: absolute;
	-o-position: absolute;
	position: absolute;
	top: 21%;
	width: 35vh;
	background-color: #dddddd;
	height: 60vh;
	transform: translateX(500px);
	transition: all .3s;
	z-index: 2;
	opacity: .9;
	overflow: hidden;
	overflow-y: auto;
}
.rightPanel.on {
	transform: translateX(0);
}
.panel-heading {
	background-color: #0084b4;
	color: white;
	text-align: center;
	font-size: 2.5vmin;
	width: 100%;
}
.twitterFeed {
	padding-left: 8%;
	font-size: 15px;
}
.imgtweet {
	width: 50px;
	height: 50px;
	line-height: 1em;
}
#tweetInfo {
	text-align: center;
	font-size: 1.2em;
}
.row {
	margin-left: -15px;
	margin-bottom: 2vmin;
	height: 10%;
}
#left-side-menu {
	width: 100%;
	text-align: center;
	font-size: 25px;
}
.panel-body {
	font-size: 13px;
}
.panel-footer {
	font-size: 12px;
}
.list-group-item{
	font-size: 12px;
}
.navbar .navbar-collapse {
  text-align: center;
}
@media screen and (max-width: 768px) {
	.input-group{
		width: 100%;
	}
}
@media screen and (max-width: 400px) {
	.navbar-brand{
		font-size: 15px;
	}
	..navSlogen{
		font-size: 8px;
	}
	.input-group{
		width: 100%;
	}
}
